@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet');

body{
	background-color: rgba(255, 250, 245, 1);
	color:black ;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;

h1 {
	text-align: center;
	margin: 100px auto 50px auto;
	
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;

	font-family: "Instrument Serif", serif;
	font-size: 250px;
	font-style: italic;
	font-weight: 400;
	line-height: 79%;

	background: linear-gradient(to right, #F8C2A4, #EDA9A6, #E8A7E0);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header > aside {
	font-style: italic;
	font-size: 12px;
  }
