@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto+Condensed:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

body{
	background-color: rgba(255, 250, 245, 1);
	color:rgb(20, 20, 20) ;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
}

section {
	max-width: 1200px;
	margin: 60px 380px;
}

section p { margin-bottom: 20px;}

strong {font-weight: 500;}

p em {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	font-style: italic;
	font-weight: 300;
}

q{
	font-style: italic;
	font-weight: 400;
	/* text-decoration: underline */
}

.highlight{
	font-style: normal;
	font-weight: 500;
	/* background: linear-gradient(to right, #f8e7cc, #fbcdca); */
	/* background-color:  #ffe6bf; */
	text-decoration: underline;
}

ul{
	text-align: right;
	list-style-type: none;
	margin: 20px 380px;
}

h1 {
	margin: 100px auto 50px 360px;
	
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(20, 20, 20) ;

	font-family: "Instrument Serif", serif;
	font-size: 220px;
	font-style: italic;
	font-weight: 400;
	line-height: 80%;
	letter-spacing: -5px;

	background: linear-gradient(to right, #f8dfa4, #EDA9A6, #d892e8);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2{
	margin: 60px 0px 40px 0px;
	font-family: "Instrument Serif", serif;
	font-size: 100px;
	font-style: italic;
	font-weight: 500;
	line-height: 120%;
}

h3{
	background-color: rgba(255, 250, 245, 1);
	margin-bottom: 40px;
	font-family: "Instrument Serif", serif;
	font-size: 60px;
	font-style: italic;
	font-weight: 400;
	line-height: 120%;
	
}

header h2{
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	font-style: italic;
	font-weight: 600;
	line-height: 130%;
	margin: 0 380px;
}
header p{
	font-size:20px;
	font-style: normal;
	font-weight: 400;
	margin: 10px 380px;
}

aside p{
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	margin: 40px auto 0px 380px; 
}

aside time {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	margin: 0px auto 40px 380px;
  }


blockquote{
	margin: 60px 380px 60px 350px;
    padding:40px 40px;
    background: rgb(255, 255, 255, 0.5);
    font-style: italic;
	border-radius: 20px;
	border-width: 1px;
	border-style: dotted; 
	border-color: rgb(20, 20, 20) ;
}

blockquote strong{
	font-family: "Roboto", serif;
	font-style: italic;
	font-weight: 700;
}
blockquote p:not(:first-child){
	margin-top: 20px;
}
blockquote h2{
	margin-top: 0px;
	font-family: "Instrument Serif", serif;
	font-size: 56px;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 1px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(20, 20, 20) ;
}

blockquote em{
	font-family: "Instrument Serif", serif;
	font-style: italic;
	letter-spacing: 1px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(20, 20, 20) ;
}

hr{
	margin: 10px 350px;
	border: dotted;
	border-width: 1px;
}

footer {
    text-align: right;
    margin: 40px 380px 80px 380px;
    padding: 40px 0;
    font-size: 30px;
    font-style: italic;
	font-weight: 500;
	line-height: 170%;
}
footer aside{
	text-align: left;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
}


a:link { 
	background: linear-gradient(to right, #3c86d1, #7c49e2);
	background-clip: text;  
 	 -webkit-text-fill-color: transparent; }
a:hover { 
	background: linear-gradient(to right, #f0aa84, #ed9792, #df91d6);
	background-clip: text;
  	-webkit-text-fill-color: transparent; }

a[href^="#"] {
	background: linear-gradient(to right, #d1613c, #e24949);
	background-clip: text;  
 	-webkit-text-fill-color: transparent; }

a[href^="#"]:hover { 
	background: linear-gradient(to right, #766ce8, #6549e2);
	background-clip: text;
  	-webkit-text-fill-color: transparent; }

section header{
	background-color:rgba(255, 250, 245, 1) ;
	position: sticky;
	top: 0px;
	padding-top: 40px;
	padding-bottom: 1px;
	margin-top: -40px;
}

.gradient {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
background: linear-gradient(to right, #fbcc86, #EDA9A6, #e892a3);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
